mlagents==0.28.0
mlagents_envs==0.28.0
numpy==1.21.6
h5py==3.6.0
protobuf==3.19.6
cattrs==1.5.0
Pillow==8.4.0
grpcio==1.39.0
tensorboard==2.9.1

pip install torch==1.8.1+cu111 -f https://download.pytorch.org/whl/torch_stable.html
